# Dictionary

In [ ]:
# 3 farklı yöntem var
{}
dict()
{}.fromkeys

In [1]:
dict_1 = {"key1" : "value1", "key2" : "value2", "key3" : "value3"}
dict_1

# item : 'key1': 'value1'
# sıralamanın hiç önemi yok
# dict muteable yani değiştirilebilir

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

### items()

In [3]:
dict_1.items

In [2]:
dict_1.items()

dict_items([('key1', 'value1'), ('key2', 'value2'), ('key3', 'value3')])

In [4]:
dict_1.items()[0]
# liste gibi görünse de indekslenemiyor

TypeError: 'dict_items' object is not subscriptable

### keys() values()

In [5]:
dict_1.keys()

dict_keys(['key1', 'key2', 'key3'])

In [6]:
dict_1.values()

dict_values(['value1', 'value2', 'value3'])

In [7]:
dict_1[0] # sayılarla indekslenmez.

KeyError: 0

### key oluşturma

In [9]:
# keyler çağrılarak indexlenir
# listeler key olamaz
# tuple hem key hem de value için kullanılabilir
# itemler key ve value dan olusur, ve virgullerle ayrilir
dict_1["key1"]

'value1'

In [80]:
# key int olabilir
dict_2 = {1 : "one", 2 : "two", 3 : "three"}
dict_2

{1: 'one', 2: 'two', 3: 'three'}

In [15]:
dict_4 = {[1, 2, 3] : "liste"}

TypeError: unhashable type: 'list'

In [13]:
dict_5 = {1 : "one", "bir" : "one", False : 0}
dict_5

{1: 'one', 'bir': 'one', False: 0}

In [14]:
dict_6 = {3.14 : "pi", 5.68 :"float"}
dict_6

{3.14: 'pi', 5.68: 'float'}

In [17]:
dict_7 = {{"key" : 1} : "value"} # dict ve listeleri ile key oluşturulamaz

TypeError: unhashable type: 'dict'

In [ ]:
dict_7 = {{} : "value"} # dict ile key oluşturulamaz

In [18]:
dict_8 = {(1, 2, 3) : "tuple"} #tuple ile key oluşturulur
dict_8

{(1, 2, 3): 'tuple'}

### value oluşturma

In [39]:
# lis, tuple, dict ile value oluşturulabilir 
dict_9 = {"names" : ["eyüp", "ahmet", "şükrü"], "ages" : (20, 21, 22), "dict" : {1:"ali"}}
dict_9

{'names': ['eyüp', 'ahmet', 'şükrü'], 'ages': (20, 21, 22), 'dict': {1: 'ali'}}

In [24]:
dict(one = 1, two = 2, three = 3)
# dicy( fonksiyonu ile yazarsak str olur.)

{'one': 1, 'two': 2, 'three': 3}

In [27]:
dict(4 = "four", 5 = "five")
# dict fonksiyonu ile int key atayamayız

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (1595686223.py, line 1)

In [28]:
{2: "iki", 3: "üç"}

{2: 'iki', 3: 'üç'}

In [29]:
type({2: "iki", 3: "üç"})

dict

In [37]:
dict(one = 1, two = 2, three = 3),

({'one': 1, 'two': 2, 'three': 3},)

In [ ]:
dict(one = 1, two = 2, three = 3),

({'one': 1, 'two': 2, 'three': 3},)

In [32]:
nur.items()

AttributeError: 'tuple' object has no attribute 'items'

In [40]:
dict_2

{1: 'one', 2: 'two', 3: 'three'}

In [41]:
dict_2["2"]

KeyError: '2'

In [42]:
dict_2[2]

'two'

In [43]:
dict_9

{'names': ['eyüp', 'ahmet', 'şükrü'], 'ages': (20, 21, 22), 'dict': {1: 'ali'}}

In [44]:
dict_9["names"]

['eyüp', 'ahmet', 'şükrü']

In [46]:
dict_9["names"].append("anıl")
dict_9

{'names': ['eyüp', 'ahmet', 'şükrü', 'anıl', 'anıl'],
 'ages': (20, 21, 22),
 'dict': {1: 'ali'}}

In [5]:
dict_10 = {"friend1" : "ali", "friend2" : "veli", "friend3" : "49"}
dict_10

{'friend1': 'ali', 'friend2': 'veli', 'friend3': '49'}

In [6]:
dict_10["friend4"] = "50" # bu metod çok kullanılır
dict_10

{'friend1': 'ali', 'friend2': 'veli', 'friend3': '49', 'friend4': '50'}

In [7]:
dict_10["friend1"] = "serdal"
dict_10

{'friend1': 'serdal', 'friend2': 'veli', 'friend3': '49', 'friend4': '50'}

In [10]:
dict_10["friend5"] = ("serdal", "onur")
dict_10

{'friend1': 'serdal',
 'friend2': 'veli',
 'friend3': '49',
 'friend4': '50',
 'friend5': ('serdal', 'onur')}

In [17]:
dict_10["friend6"] = [1, 2, 3]
dict_10

{'friend1': 'serdal',
 'friend2': 'veli',
 'friend3': '49',
 'friend4': '50',
 'friend5': ('serdal', 'onur'),
 'friend6': [1, 2, 3]}

In [18]:
print(dict_10)

{'friend1': 'serdal', 'friend2': 'veli', 'friend3': '49', 'friend4': '50', 'friend5': ('serdal', 'onur'), 'friend6': [1, 2, 3]}

In [19]:
len(dict_10)

6

In [45]:
dict_10 = {'friend1': 'serdal', 'friend2': 'veli', 'friend3': '49', 'friend4': '50', 'friend5': ('serdal', 'onur'), 'friend6': [1, 2, 3]}
dict_10

{'friend1': 'serdal',
 'friend2': 'veli',
 'friend3': '49',
 'friend4': '50',
 'friend5': ('serdal', 'onur'),
 'friend6': [1, 2, 3]}

In [20]:
dict_10.items()

dict_items([('friend1', 'serdal'), ('friend2', 'veli'), ('friend3', '49'), ('friend4', '50'), ('friend5', ('serdal', 'onur')), ('friend6', [1, 2, 3])])

In [46]:
list(dict_10.items())[0]

('friend1', 'serdal')

In [47]:
dict_10 = {'friend1': 'serdal', 'friend2': 'veli', 'friend3': '49', 'friend4': '50', 'friend5': ('serdal', 'onur'), 'friend6': [1, 2, 3]}
list(dict_10.items())[5][1]#[2]

[1, 2, 3]

In [48]:
aa = list(dict_10.items())
aa

[('friend1', 'serdal'),
 ('friend2', 'veli'),
 ('friend3', '49'),
 ('friend4', '50'),
 ('friend5', ('serdal', 'onur')),
 ('friend6', [1, 2, 3])]

In [49]:
aa.append(("friend7","ismet"))
aa

[('friend1', 'serdal'),
 ('friend2', 'veli'),
 ('friend3', '49'),
 ('friend4', '50'),
 ('friend5', ('serdal', 'onur')),
 ('friend6', [1, 2, 3]),
 ('friend7', 'ismet')]

In [51]:
aa.append(('friend1', 'sedat'))
aa

[('friend1', 'serdal'),
 ('friend2', 'veli'),
 ('friend3', '49'),
 ('friend4', '50'),
 ('friend5', ('serdal', 'onur')),
 ('friend6', [1, 2, 3]),
 ('friend7', 'ismet'),
 ('friend1', 'sedat'),
 ('friend1', 'sedat')]

In [61]:
aa.append(('friend4', '50'))
aa.pop(8)
aa

[('friend1', 'serdal'),
 ('friend2', 'veli'),
 ('friend3', '49'),
 ('friend4', '50'),
 ('friend5', ('serdal', 'onur')),
 ('friend6', [1, 2, 3]),
 ('friend7', 'ismet'),
 ('friend4', '50'),
 ('friend4', '50'),
 ('friend4', '50'),
 ('friend4', '50'),
 ('friend4', '50'),
 ('friend4', '50')]

In [64]:
bb = dict(aa)
bb

{'friend1': 'serdal',
 'friend2': 'veli',
 'friend3': '49',
 'friend4': '50',
 'friend5': ('serdal', 'onur'),
 'friend6': [1, 2, 3],
 'friend7': 'ismet'}

In [66]:
sayilar = {"tek sayılar" : [], "çift sayılar" : []}
sayilar

{'tek sayılar': [], 'çift sayılar': []}

In [67]:
sayilar["tek sayılar"]

[]

In [70]:
sayilar["tek sayılar"].extend([3,5,7,9])
sayilar

{'tek sayılar': [1, 3, 5, 7, 9, 3, 5, 7, 9], 'çift sayılar': []}

In [72]:
sayilar["çift sayılar"].extend(list(range(0,11,2)))
sayilar

{'tek sayılar': [1, 3, 5, 7, 9, 3, 5, 7, 9],
 'çift sayılar': [0, 2, 4, 6, 8, 10]}

In [75]:
sayilar["çift sayılar"].extend(range(10,51,2))
print(sayilar)

{'tek sayılar': [1, 3, 5, 7, 9, 3, 5, 7, 9], 'çift sayılar': [0, 2, 4, 6, 8, 10, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]}

In [76]:
{}.fromkeys("Hello")

{'H': None, 'e': None, 'l': None, 'o': None}

In [77]:
{}.fromkeys("Hello",5)

{'H': 5, 'e': 5, 'l': 5, 'o': 5}

### update()

In [81]:
dict_2

{1: 'one', 2: 'two', 3: 'three'}

In [83]:
dict_2.update({4: "four"})
dict_2

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [85]:
dict_2.update({5: "four", 6: "six", 7: "seven"})
dict_2

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'four', 6: 'six', 7: 'seven'}

In [86]:
dict_2.update({4: "four", 3: "six", 2: "seven"})
dict_2

{1: 'one', 2: 'seven', 3: 'six', 4: 'four', 5: 'four', 6: 'six', 7: 'seven'}

In [90]:
dict_2.clear()
dict_2

{}

In [99]:
dict_1 = {1: 'one', 2: 'two', 3: 'three', 4: 'four'}
dict_1

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [97]:
dict_1.pop(1)

KeyError: 1

In [108]:
dict_2 = {1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [109]:
dict_2.get(2)

'two'

In [104]:
dict_2['two']

KeyError: 'two'

In [107]:
del dict_2["2"]
dict_2

KeyError: '2'

### nested dicts

In [110]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [111]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [112]:
myfamily["child1"]

{'name': 'Emil', 'year': 2004}

In [113]:
myfamily["child1"]["name"]

'Emil'

In [114]:
myfamily["child1"]["year"]

2004

In [116]:
myfamily["child1"].items()

dict_items([('name', 'Emil'), ('year', 2004)])

In [117]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [118]:
myfamily["child2"]["name"]

'Tobias'

In [121]:
myfamily["child2"]["name"][0]

'T'

### in, not in

In [122]:
"e" in "hello" # e ifadesi hello içinde var mı?

True

In [ ]:
"e" not in "hello" # e ifadesi hello içinde varsa  False döner.

In [123]:
"a" in "hello"

False

In [124]:
"a" not in "hello"

True

In [129]:
dict_1

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [130]:
3 in dict_1

True

In [131]:
5 in dict_1

False

In [133]:
"four" in dict_1.values()

True